* {
    /* 初始化 取消页面的内外边距 */
    padding: 0;
    margin: 0;
}

body {
    /* 弹性布局 让页面元素垂直+水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 让页面占屏幕总高 */
    height: 100vh;
    background-color: #000;
}

a {
    /* 相对定位 */
    position: relative;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    /* 圆角属性 */
    border-radius: 50px;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    z-index: 1;
}

/* 下面设计 发光效果 */
a::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 50px;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 元素的位置 底层或者顶层  -值表示底层 + 值表示顶层 */
    z-index: -1;
    /* 设置模糊度 显示发光效果 */
    filter: blur(20px);
}

a:hover {
    /* 动画 名称 时间 infinite 是无限次播放 */
    animation: sun 8s infinite;
}

a:hover::before {
    animation: sun 8s infinite;
}

@keyframes sun {
    100% {
        /* 背景位置 */
        background-position: -400% 0;
    }
}