* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.container a {
	position: sticky;
	top: -374px;
	margin-top: -174px;
	float: right;
	width: 150px;
	height: 174px;
	background: url("/images/back.png") no-repeat;
	background-position: -600px 0;
	z-index: 999;
	transform: translateY(calc(100vh + 200px));
}
.container a:hover {
	animation: back 0.5s steps(5) infinite;
}
@keyframes back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -750px 0;
	}
}
.container h1 {
	margin: 20px 0;
	text-align: center;
}
.container .musicList {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	margin: 0 auto;
	list-style: none;
}
.container .musicList li {
	width: 200px;
	border: 10px solid transparent;
}
.container .musicList li .img {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 180px;
	cursor: pointer;
}
.container .musicList li .img > img {
	width: 100%;
	transition: all 0.5s;
}
.container .musicList li .img .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}
.container .musicList li .img .mask img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.5s;
}
.container .musicList li .img:hover > img {
	transform: scale(1.07);
}
.container .musicList li .img:hover .mask {
	background-color: rgba(0, 0, 0, 0.2);
}
.container .musicList li .img:hover .mask img {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.2);
}
.container .musicList li .title {
	margin: 10px 0 5px;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s;
}
.container .musicList li .title:hover {
	color: #31c27c;
}
.container .musicList li .playCount {
	color: #999;
	font-size: 13px;
}
